
.bookings{
    padding: 0 15px;

    &__choice{
        display: flex;
        justify-content: center;
        

        &-btn{
            margin-right: 25px;
            background-color: transparent;
            padding: 8px 20px;
            border: none;
            border-bottom: 2px solid #3f51b5;
            transition: all .3s;
            will-change: transform,border-color;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            outline: none;
            text-transform: capitalize;
            letter-spacing: .3px;

            &--active{
                border-color: black;
            }

            &:hover{
                transform: scale(1.05);
                border-color: darken($color: #3f51b5, $amount: 15%);
            }
           
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }

    &__booking{
        width: 100%;
        min-width: 300px;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 30px auto;
        border: 1px solid blue;
        padding: 15px;

        @media (min-width:768px) {
            flex-direction: row;
        }

        &-title{
            text-transform: uppercase;
            font-size: .85rem;
            text-align: center;

            @media (min-width:768px) {
                font-size: 1rem;
            }
        }

        &-btn{
            margin-top: 20px !important;

            @media (min-width:768px) {
                margin-top: 0 !important;
            }
        }
    }

}